.navdiv {
    position: relative;
    left: -250px;
    width: 300px;
    height: 50px;
    background: none;
    margin-top: 5px;
    transition: left .5s linear;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navdiv:hover {
    left: 0;
}

.link {
    color: #00ffd5;
    text-decoration: none;
}
.link:hover{
    color: #ff7300;
}
.activated{
    color: greenyellow;
    text-decoration: none;
}
.block{
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}